input, textarea, select {
    appearance: none;
    outline: none;
    width: 100%;
    border-radius: .5rem;
    border: 2px solid var(--input-stroke);

    padding: .75rem 1rem;

    font: var(--text-body-md);
    color: var(--input-placeholder);
    background-color: var(--input-base);
}

label {
    font: var(--text-body-sm);
    color: var(--text-secondary);

    display: block;
}

label + input {
    margin-top: .75rem;
}

input:focus{
    border-color: var(--brand-light);
    outline-offset: .1px; /* alguns navegadores precisam desse comando para funcionar o outline e border */
}