.radio-wrapper {
    display: flex;
    justify-items: center;
    border-radius: .5rem;
    border: 2px solid var(--input-stroke);
    margin-top: .75rem;
    height: 50px;
    gap: 1rem;

}

.wrapper {
    padding-block: .75rem;
    justify-content: center;
    align-items: center;
    margin: 4px;

    .radio-inner {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        gap: .5rem;
        padding: .656rem 1.125rem;
        border-radius: .312rem;
        width: 8.125rem;
        position: relative;
        transition: background 500ms;
        
        & input,
        & input:focus,
        & input:hover {
            all: unset;
            position: absolute;
            inset: 0;
        }
    
        &:has(:checked) {
            font: var(--text-body-sm);
            color: var(--text-heading);
            background-color: var(--shape-button);
            & svg path { /* Faz a mudança da cor do icone, necessario colocar o svg no html */
                stroke: var(--brand-light);
            }
        }
    }   
}

.event-theme-radio-wrapper {
    margin-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(8.375rem, 1fr));

    .event-theme-radio-inner{
        height: 103px;
        background-color: var(--shape-button);
        outline: 1px solid var(--input-stroke);
        border-radius: .5rem;
        text-align: center;
        position: relative;

        img {
            width: 100%;
            padding: .25rem;
            border-radius: .5rem;
        }

        & input,
        & input:focus,
        & input:hover {
            all: unset;
            position: absolute;
            inset: 0;
        }

        &:hover {
            background-color: var(--shape-hover);
        }

        &:has(:checked) {
            input:checked {
                outline: 2px solid var(--brand-light);
                border-radius: .5rem;
            }
        }
    }
}