html, body {
    height: 100%;
}

body {
    background-color: var(--shape-background);

    display: flex;
    align-items: center;
    justify-content: center;
}

#app {
    display: grid;
    width: 1280px;
    grid-template-columns: 31.25% auto ;
    height: 45.5rem;
    overflow: hidden;
    margin: 1.25rem;
    gap: 1.25rem;
}

aside{
    background-image: url(../assets/Background.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 0.75rem;
    margin-left: auto;

    width: 25rem;
    height: 45.5rem;

    header {
        margin: 2rem;

        h2 {
            font: var(--text-logo);
            color: var(--pink);
            margin-block: 1rem 0.25rem;
        }

        p {
            font: var(--text-body-md);
        }

        img {
            width: 2.865rem;
            height: 3rem;
        }
    }

}

main {
    overflow: auto;
    border-radius: .75rem;
    background-color: var(--shape-body);
    min-width: 53.25rem;

    & .main-container {
        h1 {
            font: var(--text-heading-md);
            color: var(--text-heading);
            margin-top: 5rem;
            margin-inline: 8.125rem;
        }

    }
    
}