.flex {
    display: flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.gap-8 {
    gap: .5rem;
}

.gap-12 {
    gap: .75rem;
}

.gap-16 {
    gap: 1rem;
}

.gap-24 {
    gap: 1.5rem
}

.grid {
    display: grid;
}